body {
    background-color:#d7eaf1 !important;
 }

.menu {
    margin-bottom:5px;
}

.blockbtn button {
    margin:0 0 10px 10px;
}

.blockbtn button a p {
    color:#fff;
    margin:5px;
}

.firstblock {
    background-color:#fff;
    border-radius: 5px;
}

.indentblock {
    margin-bottom:25px;
}

.firstblock h3 {
    margin:30px;
}

.secondblock {
    background-color:#fff;
    border-radius: 5px;
    margin-top:30px;
}

.secondblock h3 {
    margin:30px;
}

.btnstyle {
    margin:25px 0;
}

.background-main{
    background-color: gainsboro;
    width: 100%;
    height: 100%;
   opacity: 0.4;
    z-index: 1;
    position: fixed;
}
.form-login{
    z-index: 2;
    width: 100%;
    height: 100px;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

control-label{
    color: #009688 !important;
}

.blue-button{
    background: #25A6E1;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:3px 5px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:12px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9
}
table {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

td,th{
    text-align: left;
    padding: 5px 10px;
}

